<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:include="fragment/head :: head"></head>
<body class="vertical light">
<div class="wrapper">
    <div th:include="fragment/navbar :: navbar"></div>
    <div th:include="fragment/sidebar :: sidebar"></div>
    <main class="main-content" role="main">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="mb-2 page-title">Giao ca</h2>
                    <div style="display: flex;
                        align-items: center;">
                        <div style="margin:0 5px"><i class="fas fa-home"></i></div> <!-- Icon ngôi nhà -->
                        <div style="margin:0 5px"><i class="fas fa-chevron-right"></i></div> <!-- Icon dấu lớn hơn -->
                        <div style="margin:0 5px;cursor: pointer;">
                            <div>Bàn giao ca</div>
                        </div>
                    </div>


                    <!--                    <div class="card shadow" style="margin-top: 20px; padding: 10px;">-->
                    <!--                        <div class="card-body" style="padding: 20px">-->
                    <!--                            <div class="row my-12"><h5>Kết thúc ca làm việc</h5></div>-->
                    <!--                            <div class="row my-12">-->
                    <!--                                <h5>Nhân viên :-->
                    <!--                                    <div id="nvbg"></div>-->
                    <!--                                </h5>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <div class="card shadow" style="margin-top: 20px; padding: 10px; line-height: 1.5;">
                        <div class="card-body" style="padding: 0px">

                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th >
                                        <div class="input-group mb-3" style="border: none;">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon" style="border: none; background-color: transparent;font-size: 18px;font-weight: bold;">Kết thúc ca làm :</span>
                                            </div>
                                            <input readonly type="text" class="form-control" aria-label="" aria-describedby="basic-addon"
                                                   style="border: none; box-shadow: none; background-color: transparent; padding: 0; padding-left: 10px; font-size: 18px; text-align: right;">
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="text-align: center;">
                                    <td>
                                        <div class="row my-12">

                                        </div>
                                    </td>
                                </tr>
                                <tr style="text-align: center;">
                                    <td>
                                        <div class="row my-12">
                                            <div class="col-md-6" style="border-right: 1px solid black;">
                                                <h5 style="text-align: center">Giao dịch trong ca</h5>
                                                <hr>
                                                <div class="input-group mb-3" style="border: none;">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1" style="border: none; background-color: transparent;font-size: 18px;font-weight: bold;">Sân bóng</span>
                                                    </div>
                                                    <input id="tongTienSanBong" readonly type="number" class="form-control" aria-label="" aria-describedby="basic-addon1" value="0" min="0"
                                                           style="border: none; box-shadow: none; background-color: transparent; padding: 0; padding-left: 10px; font-size: 18px; text-align: right;">
                                                </div>
                                                <div class="input-group mb-3" style="border: none; padding-left: 20px;">
                                                    <div class="input-group-prepend" style="width: 50%;">
                                                        <span class="input-group-text" id="basic-addon2" style="border: none; background-color: transparent;font-size: 16px;">Tiền mặt</span>
                                                    </div>
                                                    <input id="tienMatSanBong" readonly type="number" class="form-control" aria-label="" aria-describedby="basic-addon2" value="0" min="0"
                                                           style="border: none; box-shadow: none; background-color: transparent; padding: 0; padding-left: 10px; font-size: 16px; text-align: right;">
                                                </div>
                                                <div class="input-group mb-3" style="border: none; padding-left: 20px;">
                                                    <div class="input-group-prepend" style="width: 50%;">
                                                        <span class="input-group-text" id="basic-addon3" style="border: none; background-color: transparent;font-size: 16px;">Chuyển khoản</span>
                                                    </div>
                                                    <input id="chuyenKhoanSanBong" readonly type="number" class="form-control" aria-label="" aria-describedby="basic-addon3" value="0" min="0"
                                                           style="border: none;box-shadow: none; background-color: transparent; padding: 0; padding-left: 10px; font-size: 16px; text-align: right;">
                                                </div>
                                                <div class="input-group mb-3" style="border: none;">
                                                    <div class="input-group-prepend" >
                                                        <span class="input-group-text" id="basic-addon4" style="border: none; background-color: transparent;font-size: 18px;font-weight: bold;">Đặt cọc</span>
                                                    </div>
                                                    <input id="datCoc" readonly type="number" class="form-control" aria-label="" aria-describedby="basic-addon4" value="0" min="0"
                                                           style="border: none; box-shadow: none; background-color: transparent; padding: 0; padding-left: 10px; font-size: 18px; text-align: right;">
                                                </div>
                                                <div class="input-group mb-3" style="border: none; padding-left: 20px;">
                                                    <div class="input-group-prepend" style="width: 50%;">
                                                        <span class="input-group-text" id="basic-addon5" style="border: none; background-color: transparent;font-size: 16px;">Tiền mặt</span>
                                                    </div>
                                                    <input id="tienMatDatCoc" readonly type="number" class="form-control" aria-label="" aria-describedby="basic-addon5" value="0" min="0"
                                                           style="border: none; box-shadow: none; background-color: transparent; padding: 0; padding-left: 10px; font-size: 16px; text-align: right;">
                                                </div>
                                                <div class="input-group mb-3" style="border: none; padding-left: 20px;">
                                                    <div class="input-group-prepend" style="width: 50%;">
                                                        <span class="input-group-text" id="basic-addon6" style="border: none; background-color: transparent;font-size: 16px;">Chuyển khoản</span>
                                                    </div>
                                                    <input id="chuyenKhoanDatCoc" readonly type="number" class="form-control" aria-label="" aria-describedby="basic-addon6" value="0" min="0"
                                                           style="border: none; box-shadow: none; background-color: transparent; padding: 0; padding-left: 10px; font-size: 16px; text-align: right;">
                                                </div>
                                                <div class="input-group mb-3" style="border: none;">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon7" style="border: none; background-color: transparent;font-size: 18px;font-weight: bold;">Tổng tiền mặt thu</span>
                                                    </div>
                                                    <input id="tongTienMatThu" readonly type="number" class="form-control" aria-label="" aria-describedby="basic-addon7" value="0" min="0"
                                                           style="border: none; box-shadow: none; background-color: transparent; padding: 0; padding-left: 10px; font-size: 18px; text-align: right;">
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="border-right: 1px solid black;">
                                                <h5 style="text-align: center">Bàn giao ca</h5>
                                                <hr>
                                                <div class="input-group mb-3" style="border: none;">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon8" style="border: none; background-color: transparent;font-size: 18px;font-weight: bold;">Tiền mặt</span>
                                                    </div>
                                                    <input readonly type="text" class="form-control" aria-label="" aria-describedby="basic-addon8"
                                                           style="border: none; box-shadow: none; background-color: transparent; padding: 0; padding-left: 10px; font-size: 18px; text-align: right;">
                                                </div>
                                                <div class="input-group mb-3" style="border: none; padding-left: 20px;">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon9" style="border: none; background-color: transparent;font-size: 16px;">Đầu ca</span>
                                                    </div>
                                                    <input id="tienDauCa" readonly type="number" class="form-control" aria-label="" aria-describedby="basic-addon9" value="0" min="0"
                                                           style="border: none; box-shadow: none; background-color: transparent; padding: 0; padding-left: 10px; font-size: 16px; text-align: right;">
                                                </div>
                                                <div class="input-group mb-3" style="border: none; padding-left: 20px;">
                                                    <div class="input-group-prepend" style="width: 50%;">
                                                        <span class="input-group-text" id="basic-addon10" style="border: none; background-color: transparent;font-size: 16px;">Cuối ca</span>
                                                    </div>
                                                    <input id="tienCuoiCa" readonly type="number" class="form-control" aria-label="" aria-describedby="basic-addon10" value="0" min="0"
                                                           style="border: none; box-shadow: none; background-color: transparent; padding: 0; padding-left: 10px; font-size: 16px; text-align: right;">
                                                </div>
                                                <div class="input-group mb-3" style="border: none; padding-left: 20px;">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon15" style="border: none; background-color: transparent;font-size: 16px;">Tổng tiền theo sổ</span>
                                                    </div>
                                                    <input id="tongTienBanGiao" readonly type="number" class="form-control" aria-label="" aria-describedby="basic-addon15" value="0" min="0"
                                                           style="border: none; box-shadow: none; background-color: transparent; padding: 0; padding-left: 10px; font-size: 16px; text-align: right;">
                                                </div>
                                                <div class="input-group mb-3" style="border: none; padding-left: 20px; ">
                                                    <div class="input-group-prepend" style="width: 50%;">
                                                        <span class="input-group-text" id="basic-addon11" style="border: none; background-color: transparent; font-size: 16px; width: 50%;">Thực tế</span>
                                                    </div>
                                                    <input id="tienThucTe" type="number" class="form-control" aria-label="" aria-describedby="basic-addon11" value="0" min="0"
                                                           style="border-bottom: 1px solid grey; box-shadow: none; background-color: transparent; padding: 0; padding-left: 10px; font-size: 16px; text-align: right; width: 50%;">
                                                </div>
                                                <div class="input-group mb-3" style="border: none; padding-left: 20px;">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon12" style="border: none; background-color: transparent;font-size: 16px;">Chênh lệch</span>
                                                    </div>
                                                    <input id="tienChenhLech" readonly type="number" class="form-control" aria-label="" aria-describedby="basic-addon12" value="0"
                                                           style="border: none; box-shadow: none; background-color: transparent; padding: 0; padding-left: 10px; font-size: 16px; text-align: right;">
                                                </div>
                                                <div class="input-group mb-3" style="border: none; padding-left: 20px; ">
                                                    <div class="input-group-prepend" style="width: 50%;">
                                                        <span class="input-group-text" id="basic-addon13" style="border: none; background-color: transparent; font-size: 16px; width: 50%;">Ghi chú (Nếu xảy ra chênh lệch)</span>
                                                    </div>
                                                    <input  readonly type="text" class="form-control" aria-label="" aria-describedby="basic-addon13"
                                                           style="border: none; box-shadow: none; background-color: transparent; padding: 0; padding-left: 10px; font-size: 16px; text-align: right;">
                                                </div>
                                                <div class="input-group">
                                                    <div class="input-group-prepend" >
                                                        <span class="input-group-text" style="border: none; background-color: transparent; font-size: 16px; "></span>
                                                    </div>
                                                    <textarea id="ghiChuChenhLech" rows="4" type="text" class="form-control" aria-label=""
                                                           style="font-size: 16px; resize: none"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div style="display: flex; justify-content: flex-end;">
                                            <button id="confirmGC" class="btn btn-outline-success">Xác nhận</button>
                                            <button id="cancelGC" class="btn btn-outline-warning">Hủy bỏ</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>
<div th:include="fragment/script :: script"></div>
<script src="/js/html5-qrcode.min.js"></script>
<script src="/js/giaoca.js"></script>

</body>
</html>
