<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/head :: head">
</head>
<head>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet'/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/lichLamViec.css">
    <style>
        .fc-day-today {
            max-height:50px;
            overflow: auto;
        }
    </style>
</head>
<body class="vertical light">
<div class="wrapper">
    <div th:include="fragment/navbar :: navbar"></div>
    <div th:include="fragment/sidebar :: sidebar"></div>
    <main class="main-content" role="main">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="mb-2 page-title">Lịch làm việc</h2>
                    <div class="row my-4">
                        <div class="col-md-12">
                            <div class="card shadow" id="cardFilter">
                                <div class="card-body">
                                    <div id="tableLich">
                                        <div class="card-body">
                                            <div class="toolbar row mb-3 mt-3">
                                                <div class="col-md-12">
                                                    <form class="form-inline"  style="display: flex; justify-content: space-between; align-items: center;">
                                                        <div class="form-group" style="flex-grow: 1;">
                                                            <label for="searchInput">Tìm kiếm</label>
                                                            <input class="form-control ml-3 mr-5" id="searchInput"  placeholder="Tìm kiếm theo mã hoặc tên" style="width: 400px;" type="text">
                                                        </div>
                                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                            <button class="btn btn-success" id="load" title="Tải lại" type="button">
                                                                <i class="fas fa-sync"></i>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>

                                                <div class="col-md-12 mt-4">
                                                    <form class="form-inline" id="filterDateForm" style="display: flex; justify-content: space-between; align-items: center;">
                                                        <div class="form-group d-flex" style="flex-grow: 1;">
                                                            <label for="date-input">Ngày</label>
                                                            <input class="form-control ml-3 mr-3" id="date-input"  style="width: 163px;" type="date">
                                                            <div class="dropdown mr-3">
                                                                <button aria-expanded="false"
                                                                        aria-haspopup="true"
                                                                        class="btn btn-outline-success dropdown-toggle"
                                                                        data-toggle="dropdown" id="actionMenuButton3"
                                                                        type="button">Chọn ca
                                                                </button>
                                                                <div aria-labelledby="actionMenuButton3"
                                                                     class="dropdown-menu"
                                                                     id="status-select">
                                                                    <a class="dropdown-item" href="#"
                                                                    >Chọn ca</a>
                                                                    <a class="dropdown-item" href="#"
                                                                    >Ca sáng</a>
                                                                    <a class="dropdown-item" href="#"
                                                                    >Ca chiều</a>
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-outline-success" id="uploadButton" title="Tải lên" type="button">
                                                                <span class="fe fe-file-text"></span>
                                                            </button>
                                                            <button class="btn btn-outline-success" style="margin-left: 15px" title="Mẫu excel" id="btnExcelMauLich" type="button">
                                                                <span class="fe fe-download"></span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mt-5" id="cardTable">
                            <div class="card-body">
                                <div id="tableContainer">
                                    <table class="table table-hover" style="text-align: center">
                                        <thead style="font-weight: bold; background-color: grey;color: white">
                                        <tr>
                                            <td>#</td>
                                            <td>Mã nhân viên</td>
                                            <td>Tên nhân viên</td>
                                            <td>Vị trí</td>
                                            <td>Ca làm</td>
                                            <td>Giờ bắt đầu</td>
                                            <td>Giờ kết thúc</td>
                                            <td>Ngày</td>
                                        </tr>
                                        </thead>
                                        <tbody id="tbodyContainer"></tbody>
                                    </table>
                                </div>
                                <div style="display: flex; align-items: center; justify-content: flex-end; gap: 8px; padding: 8px;">
                                    <button id="prevButton" style="font-size: 14px; padding: 4px 8px; border: 1px solid #28a745; border-radius: 4px; cursor: pointer;" class="btn btn-outline-success">&lt;</button>
                                    <span style="font-size: 14px; font-weight: 500; margin: 0 4px;">Trang</span>
                                    <label>
                                        <select id="pageSelect" style="font-size: 14px; padding: 4px; border: 1px solid #ccc; border-radius: 4px;margin-top: 7px" class="btn btn-outline-success">
                                        </select>
                                    </label>
                                    <button id="nextButton" style="font-size: 14px; padding: 4px 8px; border: 1px solid #28a745; border-radius: 4px; color: #28a745; cursor: pointer;" class="btn btn-outline-success">&gt;</button>
                                </div>

                            </div>
                        </div>
                        <div class="card shadow mt-5" id="cardCalendar">
                            <div class="card-body">
                                <div id="calendar"></div>
                                <div id="context-menu">
                                    <ul>
                                        <li id="add-event"><i class="fas fa-plus"></i>Thêm</li>
                                    </ul>
                                </div>

                                <!-- Modal for Adding Event -->
                                <div id="add-event-modal" class="modal">
                                    <div class="modal-content">
                                        <span class="close" id="close-add-event">&times;</span>
                                        <h2 style="display: flex; justify-content: center; align-items: center;  ">
                                            Thêm</h2>
                                        <form id="add-event-form" class="form-group">
                                            <div class="form-group">

                                                <label for="nhanVienSel">Nhân viên:</label>
                                                <select id="nhanVienSel" name="nhanVienSel" class="form-control">
                                                </select>
                                                <label for="viTri">Vị trí:</label>
                                                <select id="viTri" name="viTri" class="form-control">
                                                    <option value="Thu ngân">Thu ngân</option>
                                                    <option value="Dọn sân bóng">Dọn sân bóng</option>
                                                </select>
                                                <label for="gioBatDau">Giờ bắt đầu:</label>
                                                <input type="time" id="gioBatDau" name="gioBatDau"
                                                       class="form-control">
                                                <label for="gioKetThuc">Giờ kết thúc:</label>
                                                <input type="time" id="gioKetThuc" name="gioKetThuc"
                                                       class="form-control">

                                            </div>
                                            <button class="btn btn-outline-success" style="float: right"
                                                    type="submit">Lưu
                                            </button>
                                        </form>
                                    </div>
                                </div>

                                <!-- Modal for Viewing Event Details -->
                                <div id="view-details-modal" class="modal" style="overflow: hidden">
                                    <div class="modal-content">
                                        <span class="close" id="close-view-details">&times;</span>
                                        <h2>Chi tiết</h2>
                                        <div id="event-details">
                                            <p><strong>Tiêu đề:</strong> <span id="detail-title"></span></p>
                                            <p><strong>Mô tả:</strong> <span id="detail-description"></span></p>
                                        </div>
                                        <div class="btnChange"
                                             style="display: flex; justify-content: flex-end;gap: 10px">
                                            <button type="button" class="btn btn-outline-warning">Chỉnh sửa</button>
                                            <button type="button" class="btn btn-outline-danger">Xóa</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<div th:include="fragment/script :: script"></div>

<script src="/js/lichLamViec.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var contextMenuEl = document.getElementById('context-menu');
        var addEventModal = document.getElementById('add-event-modal');
        var viewDetailsModal = document.getElementById('view-details-modal');


        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'vi',
            selectable: true,
            editable: true,
            buttonText: {
                today: 'Hôm nay',
                month: 'Tháng',
                week: 'Tuần',
                day: 'Ngày',
                list: 'Danh sách'
            },
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            dateClick: function (info) {
                showContextMenu(info.jsEvent, info.dateStr);

            },
            eventClick: function (info) {
                showEventDetails(info.event);

            },
            events: function (fetchInfo, successCallback, failureCallback) {
                fetchEvents(successCallback, failureCallback);
            }
        });

        calendar.render();

        document.getElementById('load').onclick = function() {
            calendar.refetchEvents(); // This will refetch the events from the source
        };
        // Fetch events from API
        function fetchEvents(successCallback, failureCallback) {
            fetch('http://localhost:8080/lich-lam-viec/hien-thi')
                .then(response => response.json())
                .then(data => {
                    // Assuming the API returns an array of event objects with date fields
                    var events = data.map(event => ({

                        title: event["nhanVien"].maNhanVien + ' - ' + event["viTri"],
                        start: event["ngay"] + 'T' + event["gioBatDau"],
                        end: event["ngay"] + 'T' + event["gioKetThuc"],
                        extendedProps: {
                            id: event["id"],
                            tenNhanVien: event["nhanVien"].hoTen,
                            maNhanVien: event["nhanVien"].maNhanVien,
                            viTri: event["viTri"],
                            gioBatDau: event["gioBatDau"],
                            gioKetThuc: event["gioKetThuc"],
                            ngay: event["ngay"]
                        }
                    }));
                    successCallback(events);

                })
                .catch(error => {
                    failureCallback(error);
                });
        }

        function showContextMenu(e, dateStr) {
            e.preventDefault();

            // Lấy vị trí click của chuột
            var mouseX = e.clientX;
            var mouseY = e.clientY;

            // Lấy thông tin vị trí và kích thước của thẻ .card-body
            var cardBody = document.querySelector('#cardCalendar .card-body');
            var cardRect = cardBody.getBoundingClientRect();

            // Tính toán vị trí click so với thẻ .card-body
            var relativeX = mouseX - cardRect.left; // Khoảng cách ngang từ thẻ .card-body
            var relativeY = mouseY - cardRect.top;  // Khoảng cách dọc từ thẻ .card-body


            // Hiển thị context menu
            contextMenuEl.style.display = 'block';
            contextMenuEl.style.position = 'absolute'; // Đảm bảo context menu có thể điều chỉnh vị trí
            contextMenuEl.style.left = relativeX + 'px'; // Đặt vị trí X
            contextMenuEl.style.top = relativeY + 'px';  // Đặt vị trí Y

            // Đặt sự kiện click cho các nút trong context menu
            document.getElementById('add-event').onclick = function () {
                openAddEventModal(dateStr);
            };

            document.getElementById('view-details').onclick = function () {
                contextMenuEl.style.display = 'none';
            };

            document.getElementById('update-event').onclick = function () {
                contextMenuEl.style.display = 'none';
            };

            // Đóng menu khi click ra ngoài
            document.addEventListener('click', function (event) {
                if (!contextMenuEl.contains(event.target) && event.target !== targetCell) {
                    contextMenuEl.style.display = 'none';
                    if (contextMenuEl.parentElement) {
                        contextMenuEl.parentElement.removeChild(contextMenuEl);
                    }
                }
            });
        }


        function openAddEventModal(dateStr) {
            closeModal(contextMenuEl);
            let date = new Date();
            let now = `${date.toISOString().split('T')[0]}`;
            if (dateStr < now) {
                Swal.fire({
                    title: 'Cảnh báo!',
                    text: 'Không thể thêm lịch vào quá khư',
                    icon: 'warning', // You can also use 'error', 'warning', 'info'
                    confirmButtonText: 'OK',
                });
                return;
            }
            addEventModal.style.display = 'block';
            let form = document.getElementById('add-event-form');
            form.onsubmit = function (event) {

                event.preventDefault();

                let title = JSON.parse(document.getElementById('nhanVienSel').value).maNhanVien + ' - ' + document.getElementById('viTri').value;
                let extendedProps = {
                    id: JSON.parse(document.getElementById('nhanVienSel').value).id,
                    tenNhanVien: JSON.parse(document.getElementById('nhanVienSel').value).hoTen,
                    maNhanVien: JSON.parse(document.getElementById('nhanVienSel').value).maNhanVien,
                    viTri: document.getElementById('viTri').value,
                    gioBatDau: document.getElementById('gioBatDau').value,
                    gioKetThuc: document.getElementById('gioKetThuc').value,
                    ngay: dateStr
                };
                let lichNew = {
                    nhanVien: JSON.parse(document.getElementById('nhanVienSel').value),
                    viTri: document.getElementById('viTri').value,
                    gioBatDau: document.getElementById('gioBatDau').value,
                    gioKetThuc: document.getElementById('gioKetThuc').value,
                    ngay: dateStr,
                }
                $.ajax({
                    url: 'http://localhost:8080/lich-lam-viec/add',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(lichNew),
                    success: function (response) {
                        document.getElementById('event-title').value = '';
                        document.getElementById('nhanVienSel').value = '';
                        document.getElementById('gioBatDau').value = '';
                        document.getElementById('gioKetThuc').value = '';
                    },
                    error: function (xhr, status, error) {

                        Swal.fire({
                            title: 'Lỗi!',
                            text: 'Đã có lỗi xảy ra',
                            icon: 'errot', // You can also use 'error', 'warning', 'info'
                            confirmButtonText: 'OK',
                        });
                        return;
                    }
                });

                calendar.addEvent({
                    title: title,
                    start: dateStr,
                    extendedProps: extendedProps
                });

                addEventModal.style.display = 'none';
                // Clear input fields


            };


        }

        function showEventDetails(event) {

            var details = `
                       <form>
                            <div class="form-group">
                                <label for="tenNhanVien"><strong>Tên Nhân Viên:</strong></label>
                                <input type="text" class="form-control" id="tenNhanVien" value="${event["extendedProps"].tenNhanVien}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="maNhanVien"><strong>Mã Nhân Viên:</strong></label>
                                <input type="text" class="form-control" id="maNhanVien" value="${event["extendedProps"].maNhanVien}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="viTri"><strong>Vị Trí:</strong></label>
                                <input type="text" class="form-control" id="viTri" value="${event["extendedProps"].viTri}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="gioBatDau"><strong>Giờ Bắt Đầu:</strong></label>
                                <input type="text" class="form-control" id="gioBatDau" value="${event["extendedProps"].gioBatDau}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="gioKetThuc"><strong>Giờ Kết Thúc:</strong></label>
                                <input type="text" class="form-control" id="gioKetThuc" value="${event["extendedProps"].gioKetThuc}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="ngay"><strong>Ngày:</strong></label>
                                <input type="text" class="form-control" id="ngay" value="${event["extendedProps"].ngay}" readonly>
                            </div>
                       </form>
    `;
            document.getElementById('event-details').innerHTML = details;
            document.getElementById('view-details-modal').style.display = 'block';
            let date = new Date();
            let now = `${date.toISOString().split('T')[0]}`;

            if (event.startStr < now) {

                document.querySelector('.btnChange').style.display = 'none';
            } else {

                document.querySelector('.btnChange').style.display = 'flex'; // Hoặc 'block'
            }
        }


        function closeModal(modal) {
            modal.style.display = 'none';
        }

        document.getElementById('close-add-event').onclick = function () {
            closeModal(contextMenuEl);
            closeModal(addEventModal);
        };

        document.getElementById('close-view-details').onclick = function () {
            closeModal(contextMenuEl);
            closeModal(viewDetailsModal);
        };

        window.onclick = function (event) {
            closeModal(contextMenuEl);
            if (event.target === addEventModal || event.target === viewDetailsModal) {

                closeModal(addEventModal);
                closeModal(viewDetailsModal);
            }
        };
    });
</script>

</body>
</html>
