<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="scriptClient">
    <script th:src="@{/client/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/client/js/jquery-migrate-3.0.1.min.js}"></script>
    <script th:src="@{/client/js/jquery-ui.js}"></script>
    <script th:src="@{/client/js/popper.min.js}"></script>
    <script th:src="@{/client/js/bootstrap.min.js}"></script>
    <script th:src="@{/client/js/owl.carousel.min.js}"></script>
    <script th:src="@{/client/js/jquery.stellar.min.js}"></script>
    <script th:src="@{/client/js/jquery.countdown.min.js}"></script>
    <script th:src="@{/client/js/jquery.easing.1.3.js}"></script>
    <script th:src="@{/client/js/aos.js}"></script>
    <script th:src="@{/client/js/jquery.fancybox.min.js}"></script>
    <script th:src="@{/client/js/jquery.sticky.js}"></script>
    <script th:src="@{/client/js/jquery.mb.YTPlayer.min.js}"></script>
    <script th:src="@{/client/js/main.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/locales/vi.js"></script>
</div>
