<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/head :: head"></head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<body class="vertical light">
<div class="wrapper">
    <div th:include="fragment/navbar :: navbar"></div>
    <div th:include="fragment/sidebar :: sidebar"></div>
    <main role="main" class="main-content">
        <div class="col-12">
            <h2 class="mb-2 page-title">Quản lý tham số</h2>
            <h6>Các điều khoản của sân bóng</h6>
                <div class="mb-4">
                    <div class="form-group col-md-4 mr-5">
                        <input type="text" class="form-control" id="search"
                               placeholder="Search...">
                    </div>
                </div>
                <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addParameterModal">
                    Thêm Tham Số
                </button>

                <table id="parameterTable" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Tên</th>
                        <th>Giá Trị</th>
                        <th>Loại Giá Trị</th>
                        <th>Mô Tả</th>
                        <th>Trạng Thái</th>
                        <th>Hành Động</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Rows will be populated dynamically here -->
                    </tbody>
                </table>

                <!-- Modal for adding a parameter -->
                <div class="modal fade" id="addParameterModal" tabindex="-1" aria-labelledby="addParameterModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addParameterModalLabel">Thêm Tham Số</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="addParameterForm">
                                    <!--                        <div class="mb-3">-->
                                    <!--                            <label for="parameterCode" class="form-label">Mã</label>-->
                                    <!--                            <input type="text" class="form-control" id="parameterCode" name="ma" required>-->
                                    <!--                        </div>-->
                                    <div class="mb-3">
                                        <label for="parameterName" class="form-label">Tên</label>
                                        <input type="text" class="form-control" id="parameterName" name="ten" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="parameterValue" class="form-label">Giá Trị</label>
                                        <input type="text" class="form-control" id="parameterValue" name="giaTri" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="parameterType" class="form-label">Loại Giá Trị</label>
                                        <input type="text" class="form-control" id="parameterType" name="typeGiaTri" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="parameterDescription" class="form-label">Mô Tả</label>
                                        <textarea class="form-control" id="parameterDescription" name="moTa"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="parameterStatus" class="form-label">Trạng Thái</label>
                                        <select class="form-select" id="parameterStatus" name="trangThai">
                                            <option value="true">Kích hoạt</option>
                                            <option value="false">Vô hiệu hóa</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Thêm</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal for editing a parameter -->
                <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editParameterModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editParameterModalLabel">Chỉnh Sửa Tham Số</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="editParameterForm">
                                    <input type="hidden" id="editParameterId" name="id"/>
                                    <div class="mb-3">
                                        <label for="editParameterCode" class="form-label">Mã</label>
                                        <input type="text" class="form-control" id="editParameterCode" name="ma" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editParameterName" class="form-label">Tên</label>
                                        <input type="text" class="form-control" id="editParameterName" name="ten">
                                    </div>
                                    <div class="mb-3">
                                        <label for="editParameterValue" class="form-label">Giá Trị</label>
                                        <input type="text" class="form-control" id="editParameterValue" name="giaTri">
                                    </div>
                                    <div class="mb-3">
                                        <label for="editParameterType" class="form-label">Loại Giá Trị</label>
                                        <input type="text" class="form-control" id="editParameterType" name="typeGiaTri">
                                    </div>
                                    <div class="mb-3">
                                        <label for="editParameterDescription" class="form-label">Mô Tả</label>
                                        <textarea class="form-control" id="editParameterDescription" name="moTa"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editParameterStatus" class="form-label">Trạng Thái</label>
                                        <select class="form-select" id="editParameterStatus" name="trangThai">
                                            <option value="true">Kích hoạt</option>
                                            <option value="false">Vô hiệu hóa</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Cập Nhật</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>

                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-end"  id="pagination">
                        <!-- Pagination items will be populated dynamically here -->
                    </ul>
                </nav>
            </div>

        <div th:include="fragment/modal :: modal"></div>
    </main>
</div>

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script>

    $(document).on('click', '#addParameterButton', function() {
        var addModal = new bootstrap.Modal(document.getElementById('parameterModal'));
        addModal.show();
    });

    function removeVietnameseTones(str) {
        str = str.normalize('NFD').replace(/[\u0300-\u036f]/g, ''); // Loại bỏ dấu
        str = str.replace(/đ/g, 'd').replace(/Đ/g, 'D');
        return str;
    }

    function generateMaThamSoFromName(name) {
        // Loại bỏ dấu và thay khoảng trắng bằng _
        let maThamSo = removeVietnameseTones(name).replace(/\s+/g, '_').toUpperCase();
        return maThamSo;
    }

    $('#addParameterForm').on('submit', function (e) {
        e.preventDefault();

        var tenThamSo = $('#parameterName').val();
        var giaTri = $('#parameterValue').val();
        var typeGiaTri = $('#parameterType').val();
        var moTa = $('#parameterDescription').val();
        var trangThai = $('#parameterStatus').is(':checked');

        // Kiểm tra tên tham số
        if (!tenThamSo.trim()) {
            Swal.fire('Lỗi', 'Vui lòng nhập tên tham số.', 'error');
            return;
        }

        // Kiểm tra giá trị tham số (tuỳ chọn: nếu giá trị tham số là bắt buộc)
        if (!giaTri.trim()) {
            Swal.fire('Lỗi', 'Vui lòng nhập giá trị cho tham số.', 'error');
            return;
        }

        // Kiểm tra loại giá trị tham số (nếu bắt buộc)
        if (!typeGiaTri.trim()) {
            Swal.fire('Lỗi', 'Vui lòng chọn loại giá trị.', 'error');
            return;
        }

        // Tạo mã tham số từ tên tham số
        var maThamSo = 'TS' + generateMaThamSoFromName(tenThamSo);

        var formData = {
            ma: maThamSo,
            ten: tenThamSo,
            giaTri: giaTri,
            typeGiaTri: typeGiaTri,
            moTa: moTa,
            trangThai: trangThai
        };

        $.ajax({
            url: 'http://localhost:8080/tham-so',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function(response) {
                Swal.fire(
                    'Thêm mới!',
                    'Dữ liệu đã được thêm thành công.',
                    'success'
                );
                fetchDataAndRenderTable();
            },
            error: function(xhr, status, error) {
                var errorMessage = xhr.responseJSON ? xhr.responseJSON.message : xhr.responseText;
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi',
                    text: 'Không thể thêm tham số: ' + errorMessage
                });
            }
        });
    });


    // Edit button
    $(document).on('click', '.edit-button', function() {
        var thamSoId = $(this).data('id');
        $.ajax({
            url: 'http://localhost:8080/tham-so/' + thamSoId,
            method: 'GET',
            success: function(data) {
                $('#editParameterId').val(data.id);
                $('#editParameterCode').val(data.ma);
                $('#editParameterName').val(data.ten);
                $('#editParameterValue').val(data.giaTri);
                $('#editParameterType').val(data.typeGiaTri);
                $('#editParameterDescription').val(data.moTa);
                $('#editParameterStatus').prop('checked', data.trangThai);

                var editModal = new bootstrap.Modal(document.getElementById('editModal'));
                editModal.show();
            },
            error: function(xhr, status, error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi',
                    text: 'Không thể lấy thông tin tham số: ' + xhr.responseText
                });
            }
        });
    });

    $('#editParameterForm').on('submit', function (e) {
        e.preventDefault();

        var tenThamSo = $('#editParameterName').val();
        var giaTri = $('#editParameterValue').val();
        var typeGiaTri = $('#editParameterType').val();
        var moTa = $('#editParameterDescription').val();
        var trangThai = $('#editParameterStatus').is(':checked');
        var id = $('#editParameterId').val();

        // Kiểm tra tên tham số
        if (!tenThamSo.trim()) {
            Swal.fire('Lỗi', 'Vui lòng nhập tên tham số.', 'error');
            return;
        }

        // Kiểm tra giá trị tham số (tuỳ chọn: nếu giá trị tham số là bắt buộc)
        if (!giaTri.trim()) {
            Swal.fire('Lỗi', 'Vui lòng nhập giá trị cho tham số.', 'error');
            return;
        }

        // Kiểm tra loại giá trị tham số (nếu bắt buộc)
        if (!typeGiaTri.trim()) {
            Swal.fire('Lỗi', 'Vui lòng chọn loại giá trị.', 'error');
            return;
        }

        var formData = {
            id: id,
            ma: $('#editParameterCode').val(),
            ten: tenThamSo,
            giaTri: giaTri,
            typeGiaTri: typeGiaTri,
            moTa: moTa,
            trangThai: trangThai
        };

        $.ajax({
            url: 'http://localhost:8080/tham-so/' + id,
            method: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function(response) {
                Swal.fire(
                    'Cập nhật!',
                    'Dữ liệu đã được cập nhật thành công.',
                    'success'
                );
                fetchDataAndRenderTable();
            },
            error: function(xhr, status, error) {
                var errorMessage = xhr.responseJSON ? xhr.responseJSON.message : xhr.responseText;
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi',
                    text: 'Không thể cập nhật thông tin tham số: ' + errorMessage
                });
            }
        });
    });

    $(document).ready(function () {
        $(document).on('click', '.delete-button', function () {
            const id = $(this).data('id');


            Swal.fire({
                title: 'Bạn có chắc chắn?',
                text: "Bạn không thể phục hồi dữ liệu sau khi xóa!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Có, xóa!',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        url: `http://localhost:8080/tham-so/${id}`,
                        type: 'DELETE',
                        success: function (result) {
                            // Hiển thị thông báo thành công
                            Swal.fire(
                                'Đã xóa!',
                                'Dữ liệu đã được xóa thành công.',
                                'success'
                            );

                            fetchDataAndRenderTable();
                        },
                        error: function (xhr, status, error) {
                            Swal.fire(
                                'Lỗi!',
                                'Có lỗi xảy ra khi xóa dữ liệu: ' + xhr.responseText,
                                'error'
                            );
                        }
                    });
                }
            });
        });
    });


    //
    let currentSearchMa = null;
    let currentSearchName = null;

    function fetchDataAndRenderTable(page = 0, size = 5) {
        let apiURL = `/tham-so/searchs?page=${page}&size=${size}`;

        if (currentSearchMa) {
            apiURL += `&ma=${encodeURIComponent(currentSearchMa)}`;
        }
        if (currentSearchName) {
            apiURL += `&ten=${encodeURIComponent(currentSearchName)}`;
        }

        fetch(apiURL)
            .then(response => response.json())
            .then(data => {
                renderTable(data, page, size);
            })
            .catch(error => console.error('Error fetching data:', error));
    }

    function searchParameters(query) {
        query = query.trim();

        if (query.startsWith('TS')) { // Assuming 'TS' is the prefix for mã tham số
            currentSearchMa = query;
            currentSearchName = null;
        } else {
            currentSearchName = query;
            currentSearchMa = null;
        }

        fetchDataAndRenderTable();
    }

    document.getElementById('search').addEventListener('input', function () {
        const searchValue = this.value;
        searchParameters(searchValue);
    });

    function renderTable(data, page, size) {
        const tableBody = document.querySelector('#parameterTable tbody');
        const pagination = document.querySelector('#pagination');

        tableBody.innerHTML = '';

        data.content.forEach(parameter => {
            const row = `<tr>
            <td>${parameter.ma}</td>
            <td>${parameter.ten}</td>
            <td>${parameter.giaTri}</td>
            <td>${parameter.typeGiaTri}</td>
            <td>${parameter.moTa}</td>
            <td>${parameter.trangThai ? 'Kích hoạt' : 'Vô hiệu hóa'}</td>
            <td>
                <button type="button" class="btn btn-warning btn-sm edit-button"
                        data-bs-toggle="modal" data-bs-target="#editModal"
                        data-id="${parameter.id}">
                    Sửa
                </button>
                <button type="button" class="btn btn-danger btn-sm delete-button" data-id="${parameter.id}">
                    Xóa
                </button>
            </td>
        </tr>`;
            tableBody.insertAdjacentHTML('beforeend', row);
        });

        pagination.innerHTML = '';
        for (let i = 0; i < data.totalPages; i++) {
            const pageItem = `<li class="page-item ${i === page ? 'active' : ''}">
            <a class="page-link" href="#" data-page="${i}">${i + 1}</a>
        </li>`;
            pagination.insertAdjacentHTML('beforeend', pageItem);
        }

        // Handle pagination click events
        document.querySelectorAll('.page-link').forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                const page = parseInt(this.getAttribute('data-page'));
                fetchDataAndRenderTable(page);
            });
        });
    }

    // Initial data fetch
    fetchDataAndRenderTable();
</script>

</body>


<div th:include="fragment/script :: script"></div>
</html>
