<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragment/head :: head}"></head>


<body class="vertical  light  ">
<div class="wrapper">
    <div th:insert="~{fragment/navbar :: navbar}"></div>
    <div th:insert="~{fragment/sidebar :: sidebar}"></div>
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="mb-2 page-title">Quản lý phiếu giảm giá</h2>
                    <p class="card-text"></p>
                    <div class="row my-4">
                        <!-- Small table -->
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="toolbar row mb-3">
                                        <div class="col">
                                            <form class="form-inline">
                                                <!--                                                Search-->
                                                <div class="form-row">
                                                    <div class="form-group col-auto">
                                                        <label for="search" class="sr-only">Tìm kiếm</label>
                                                        <input type="text" class="form-control" id="search"
                                                               placeholder="Search" oninput="searchTable()">
                                                    </div>
                                                    <!--                                                    //filter-->
                                                    <div class="form-group col-auto ml-3">
                                                        <label class="my-1 mr-2 sr-only"
                                                               for="statusFilter">Status</label>
                                                        <select class="custom-select my-1 mr-sm-2"
                                                                id="statusFilter" onchange="filterTable()">
                                                            <option value="all" selected>Tất cả</option>
                                                            <option value="true">Hoạt động</option>
                                                            <option value="false">Kết thúc</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- Form Add-->
                                        <div class="col ml-auto">
                                            <div class="dropdown float-right">
                                                <button type="button" class="btn btn-primary float-right ml-3"
                                                        data-toggle="modal" data-target="#varyModal"
                                                        data-whatever="@mdo">Thêm<span class="fe fe-plus "></span>
                                                </button>
                                                <div class="modal fade" id="varyModal" tabindex="-1" role="dialog"
                                                     aria-labelledby="varyModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="varyModalLabel">
                                                                    Thêm phiếu giảm giá</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <form th:if="${pgg != null}"
                                                                  th:object="${pgg}" th:action="@{/save-pgg}"
                                                                  th:method="post">
                                                                <div class="modal-body">
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-12">
                                                                            <label>Tên phiếu giảm giá</label>
                                                                            <input type="text" class="form-control"
                                                                                   placeholder="Tên"
                                                                                   th:field="*{tenPhieuGiamGia}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-12">
                                                                            <label>Khách hàng</label>
                                                                            <select th:field="*{idKhachHang}"
                                                                                    class="form-control">
                                                                                <option th:each="pggItem : ${listKH}"
                                                                                        th:value="${pggItem.id}"
                                                                                        th:text="${pggItem.hoVaTen}">
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-12">
                                                                            <label>Mức giảm</label>
                                                                            <input type="text" class="form-control"
                                                                                   placeholder="Mức giảm"
                                                                                   th:field="*{mucGiam}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6">
                                                                            <label for="hinhThucGiamGia">Hình thức giảm
                                                                                giá</label>
                                                                            <select id="hinhThucGiamGia"
                                                                                    class="form-control"
                                                                                    th:field="*{hinhThucGiamGia}">
                                                                                <option selected th:value="true">Giảm
                                                                                    theo số tiền
                                                                                </option>
                                                                                <option th:value="false">Giảm theo %
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="form-group col-md-6">
                                                                            <label>Điều kiện sử dụng</label>
                                                                            <select th:field="*{dieuKienSuDung}"
                                                                                    class="form-control">
                                                                                <option th:each="dieuKienSuDung:${listDKSD}"
                                                                                        th:value="${dieuKienSuDung}"
                                                                                        th:text="${dieuKienSuDung}"
                                                                                ></option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6">
                                                                            <label>Ngày bắt đầu</label>
                                                                            <input type="date" class="form-control"
                                                                                   placeholder="Ngày bắt đầu"
                                                                                   th:field="*{ngayBatDau}">
                                                                        </div>
                                                                        <div class="form-group col-md-6">
                                                                            <label>Ngày kết thúc</label>
                                                                            <input type="date" class="form-control"
                                                                                   placeholder="Ngày kết thúc"
                                                                                   th:field="*{ngayKetThuc}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn mb-2 btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <button type="submit" class="btn mb-2 btn-primary">
                                                                        Submit
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                                        id="actionMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false"> Hành động
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="actionMenuButton">
                                                    <a class="dropdown-item" href="#">Export</a>
                                                    <a class="dropdown-item" href="#" onclick="deleteSelected()">Xóa
                                                        những ô đã chọn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Table -->
                                    <table class="table datatables" id="dataTable-1">
                                        <thead>
                                        <tr>
                                            <th>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="selectAll">
                                                    <label class="custom-control-label"
                                                           for="selectAll"></label>
                                                </div>
                                            </th>
                                            <th>#</th>
                                            <th>Mã</th>
                                            <th>Tên</th>
                                            <th>Ngày bắt đầu</th>
                                            <th>Ngày kết thúc</th>
                                            <th>Trạng thái</th>
                                            <th>Hành động</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tableBody">
                                        <tr th:each="pgg,i:${listPGG}"
                                            th:id="'row_' + ${pgg.content.id}">
                                            <div th:if="${pgg.content.deletedAt == false}">
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox"
                                                               class="custom-control-input  item-checkbox"
                                                               th:id="${'checkbox_' + pgg.content.id}"
                                                               th:data-id="${pgg.content.id}"
                                                        >
                                                        <label class="custom-control-label"
                                                               th:for="${'checkbox_' + pgg.content.id}"></label>
                                                    </div>
                                                </td>
                                                <td th:text="${number + i.index + 1}"></td>
                                                <td class="maPhieuGiamGia" th:text="${pgg.content.maPhieuGiamGia}"></td>
                                                <td class="tenPhieuGiamGia"
                                                    th:text="${pgg.content.tenPhieuGiamGia}"></td>
                                                <td class="ngayBatDau"
                                                    th:text="${#dates.format(pgg.content.ngayBatDau, 'dd/MM/yyyy')}">
                                                </td>
                                                <td class="ngayKetThuc"
                                                    th:text="${#dates.format(pgg.content.ngayKetThuc, 'dd/MM/yyyy')}">
                                                </td>
                                                <td>
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input"
                                                               th:id="${'switch-' + pgg.content.id}"
                                                               th:checked="${pgg.content.trangThai}"
                                                               th:data-id="${pgg.content.id}"
                                                               onchange="updateVoucherStatus(this)">
                                                        <label class="custom-control-label"
                                                               th:for="${'switch-' + pgg.content.id}"
                                                        ></label>
                                                    </div>
                                                </td>
                                                <td style="display: flex">
                                                    <!-- Edit-->
                                                    <!-- Form action button to trigger modal -->
                                                    <button class="btn mb-2 mr-1 btn-warning" type="submit"
                                                            data-toggle="modal"
                                                            th:data-target="'#detailModal' + ${pgg.content.id}"
                                                            onclick="showDetailModal(this)">
                                                        <span class="fe fe-edit-3"></span>
                                                    </button>

                                                    <form th:action="@{/remove-pgg/{id}(id=${pgg.content.id})}">
                                                        <button class="btn mb-2 ml-1 btn-danger" type="submit"
                                                                onclick="return confirm('Bạn có chắc chắn xóa không?')">
                                                            <span class="fe fe-trash-2"></span>
                                                        </button>
                                                    </form>
                                                </td>
                                            </div>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!--  details -->
                                    <div class="modal fade" th:each="pgg : ${listFull}"
                                         th:id="'detailModal' + ${pgg.id}"
                                         tabindex="-1" role="dialog"
                                         aria-labelledby="'detailModalLabel' + ${pgg.id}"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title"
                                                        th:id="'detailModalLabel' + ${pgg.id}">
                                                        Sửa phiếu giảm giá
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div th:if="${pggDetail} != null">
                                                    <form id="detailForm"
                                                          th:object="${pggDetail}"
                                                          th:method="put"
                                                          onsubmit="event.preventDefault(); updatePhieuGiamGia(this);">
                                                        <div class="modal-body">
                                                            <input type="hidden" th:field="*{id}"/>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <label>Mã phiếu giảm giá</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           placeholder="Ma"
                                                                           th:field="*{maPhieuGiamGia}">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label>Tên phiếu giảm giá</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           placeholder="Tên"
                                                                           th:field="*{tenPhieuGiamGia}">
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <label>Khách hàng</label>
                                                                    <select th:field="*{idKhachHang}"
                                                                            class="form-control">
                                                                        <option th:value="${idKhachHang}"
                                                                                th:text="${hoVaTenKhachHang}"
                                                                                hidden></option>
                                                                        <option th:each="pggItem : ${listKH}"
                                                                                th:value="${pggItem.id}"
                                                                                th:text="${pggItem.hoVaTen}">
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label>Mức giảm</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           placeholder="Mức giảm"
                                                                           th:field="*{mucGiam}">
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <label>Hình thức giảm giá</label>
                                                                    <select class="form-control"
                                                                            th:field="*{hinhThucGiamGia}">
                                                                        <option th:field="*{hinhThucGiamGia}"
                                                                                th:value="${hinhThucGiamGia}"
                                                                                th:text="${hinhThucGiamGia}"
                                                                                hidden></option>
                                                                        <option selected
                                                                                th:value="true">Giảm theo số tiền
                                                                        </option>
                                                                        <option th:value="false">Giảm theo %
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label>Điều kiện sử dụng</label>
                                                                    <select th:field="*{dieuKienSuDung}"
                                                                            class="form-control">
                                                                        <option th:each="dieuKienSuDung:${listDKSD}"
                                                                                th:value="${dieuKienSuDung}"
                                                                                th:text="${dieuKienSuDung}">
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <label>Ngày bắt đầu</label>
                                                                    <input type="date"
                                                                           class="form-control"
                                                                           placeholder="Ngày bắt đầu"
                                                                           th:field="*{ngayBatDau}">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label>Ngày kết thúc</label>
                                                                    <input type="date"
                                                                           class="form-control"
                                                                           placeholder="Ngày kết thúc"
                                                                           th:field="*{ngayKetThuc}">
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-12">
                                                                    <label>Trạng thái</label>
                                                                    <select class="form-control"
                                                                            th:field="*{trangThai}">
                                                                        <option th:field="*{trangThai}"
                                                                                th:value="${trangThai}"
                                                                                th:text="${trangThai}"
                                                                                hidden></option>
                                                                        <option selected
                                                                                th:value="true">Hoạt động
                                                                        </option>
                                                                        <option th:value="false">Kết thúc
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn mb-2 btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit"
                                                                    class="btn mb-2 btn-primary">Submit
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Phân trang -->
                                    <nav aria-label="Table Paging" class="mb-0 text-muted">
                                        <ul class="pagination justify-content-end mb-0">
                                            <li class="page-item"
                                                th:classappend="${currentPage == 0} ? 'disabled' : ''">
                                                <a class="page-link"
                                                   th:href="@{/phieu-giam-gia(page=${currentPage - 1})}">Previous</a>
                                            </li>
                                            <li class="page-item"
                                                th:each="pageNumber : ${#numbers.sequence(0, listPGG.metadata.totalPages - 1)}"
                                                th:classappend="${currentPage == pageNumber} ? 'active' : ''">
                                                <a class="page-link" th:href="@{/phieu-giam-gia(page=${pageNumber})}"
                                                   th:text="${pageNumber + 1}">1</a>
                                            </li>
                                            <li class="page-item"
                                                th:classappend="${currentPage == listPGG.metadata.totalPages - 1} ? 'disabled' : ''">
                                                <a class="page-link"
                                                   th:href="@{/phieu-giam-gia(page=${currentPage + 1})}">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div> <!-- simple table -->
                    </div> <!-- end section -->
                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
        <div th:insert="~{fragment/modal :: modal}"></div>
    </main>
</div>
</body>
<div th:insert="~{fragment/script :: script}"></div>

<!--Detail-->
<script th:inline="javascript">
    function showSuccessToast(message) {
        Toastify({
            text: message,
            duration: 3000,
            gravity: "top",
            position: "right",
            style: {
                background: "#4CAF50",
            },
            stopOnFocus: true
        }).showToast();
    }

    function showErrorToast(message) {
        Toastify({
            text: message,
            duration: 3000,
            gravity: "top",
            position: "right",
            style: {
                background: "#f44336",
            },
            stopOnFocus: true
        }).showToast();
    }

    /*]]>*/
    function showDetailModal(param) {
        var id;
        if (typeof param === "object") {
            var button = param;
            var dataTarget = button.getAttribute("data-target");
            id = dataTarget.substring(dataTarget.lastIndexOf("#detailModal") + "#detailModal".length);
        } else {
            id = param;
        }

        var modal = document.getElementById("detailModal" + id);
        var apiUrl = "http://localhost:8080/api-phieu-giam-gia/" + id;

        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                if (data) {
                    var form = modal.querySelector("form");
                    form.querySelector("input[name='id']").value = data.id;
                    form.querySelector("input[name='maPhieuGiamGia']").value = data.maPhieuGiamGia;
                    form.querySelector("input[name='tenPhieuGiamGia']").value = data.tenPhieuGiamGia;
                    form.querySelector("select[name='idKhachHang']").value = data.idKhachHang;
                    form.querySelector("input[name='mucGiam']").value = data.mucGiam;
                    form.querySelector("select[name='hinhThucGiamGia']").value = data.hinhThucGiamGia.toString();
                    form.querySelector("select[name='dieuKienSuDung']").value = data.dieuKienSuDung;
                    form.querySelector("input[name='ngayBatDau']").value = data.ngayBatDau;
                    form.querySelector("input[name='ngayKetThuc']").value = data.ngayKetThuc;
                    form.querySelector("select[name='trangThai']").value = data.trangThai.toString();
                }
                $(modal).modal('show');
            })
            .catch(error => console.error('Error:', error));
    }

    <!--Switch-->

    /*<![CDATA[*/
    function updateVoucherStatus(checkbox) {
        var id = checkbox.getAttribute("data-id");
        var currentStatus = checkbox.checked; // true: bật, false: tắt
        if (!checkbox.id.startsWith('switch-')) {
            // Nếu không phải là switch, không thực hiện
            return;
        }
        if (currentStatus) {
            // Nếu đang bật, không cho phép
            checkbox.checked = false; // Không cho phép bật lại
            showErrorToast('Không thể bật trạng thái,vui lòng chỉnh sửa chi tiết');
            return;
        }
        if (confirm(`Bạn có chắc chắn muốn trạng thái không?`)) {
            var apiUrl = "http://localhost:8080/api-phieu-giam-gia/toggle-status/" + id;

            fetch(apiUrl, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({"trangThai": currentStatus})
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text(); // Xử lý phản hồi dưới dạng văn bản
                })
                .then(responseData => {
                    console.log('Update successful:', responseData);
                    showSuccessToast('Cập nhật trạng thái thành công');
                })
                .catch(error => {
                    console.error('Update error:', error);
                    showErrorToast('Không thể cập nhật trạng thái');
                });
        }
    }

    <!--update-->

    function updatePhieuGiamGia(form) {
        var id = form.querySelector("input[name='id']").value;
        var apiUrl = "http://localhost:8080/api-phieu-giam-gia/" + id;
        var formData = new FormData(form);

        fetch(apiUrl, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                id: formData.get('id'),
                maPhieuGiamGia: formData.get('maPhieuGiamGia'),
                tenPhieuGiamGia: formData.get('tenPhieuGiamGia'),
                idKhachHang: formData.get('idKhachHang'),
                mucGiam: formData.get('mucGiam'),
                hinhThucGiamGia: formData.get('hinhThucGiamGia'),
                dieuKienSuDung: formData.get('dieuKienSuDung'),
                trangThai: formData.get('trangThai'),
                ngayBatDau: formData.get('ngayBatDau'),
                ngayKetThuc: formData.get('ngayKetThuc')
            })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Updated successfully:', data);

                // Close modal
                $(form.closest('.modal')).modal('hide');

                // Show success toast
                showSuccessToast('Cập nhật phiếu giảm giá thành công');
                setTimeout(() => {
                    window.location.reload();
                }, 1000);
            })
            .catch(error => {
                console.error('Error updating:', error);
                // Handle error (show error message, log error, etc.)
            });
    }

    <!--Xoa nhieu-->

    var reloadOnce = false; // Biến cờ để chỉ load lại trang một lần

    function deleteSelected() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
        var ids = Array.from(checkboxes)
            .filter(cb => cb.id.startsWith('checkbox_')) // Lọc chỉ những checkbox bắt đầu bằng 'checkbox_'
            .map(cb => cb.getAttribute('data-id'));
        if (ids.length === 0) {
            showErrorToast('Chưa chọn bản ghi để xóa!');
            return; // Dừng xử lý nếu không có checkbox nào được chọn
        }
        if (confirm(`Bạn có chắc chắn muốn xóa ${ids.length} bản ghi đã chọn không?`)) {
            fetch(`http://localhost:8080/api-phieu-giam-gia/delete-soft`, { // Endpoint cho xóa mềm
                method: 'DELETE', // Sử dụng phương thức DELETE
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(ids) // Gửi một object chứa các IDs
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(data => {
                    showSuccessToast('Xóa thành công');
                    // Tải lại dữ liệu sau khi xóa thành công nếu chưa thực hiện
                    if (!reloadOnce) {
                        reloadOnce = true;
                        setTimeout(() => {
                            window.location.reload();
                        }, 1000);
                    }
                })
                .catch(error => {
                    console.error('Lỗi xóa:', error);
                });
        }
    }

    // Chọn tất cả
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('selectAll').addEventListener('change', function () {
            var checkboxes = document.querySelectorAll('input[type="checkbox"].custom-control-input');
            checkboxes.forEach(function (checkbox) {
                if (checkbox.id.startsWith('checkbox_')) {
                    checkbox.checked = this.checked;
                }
            }, this);
        });
    });

    // Search
    $(document).ready(function () {
        // Lắng nghe sự kiện khi người dùng nhập liệu vào ô tìm kiếm
        $('#search').on('input', function () {
            searchTable(); // Gọi hàm searchTable() mỗi khi có sự thay đổi trong ô tìm kiếm
        });
    });

    function updateTableBody(searchResults) {
        const tableBody = document.getElementById('tableBody');
        tableBody.innerHTML = '';
        let serialNumber = 1;
        searchResults.forEach((result, index) => {
            const row = document.createElement('tr');
            row.setAttribute('id', 'row_' + result.id);

            row.innerHTML = `

                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input item-checkbox" id="checkbox_${result.id}" data-id="${result.id}">
                            <label class="custom-control-label" for="checkbox_${result.id}"></label>
                        </div>
                    </td>
                    <td>${serialNumber}</td>
                    <td class="maPhieuGiamGia">${result.maPhieuGiamGia}</td>
                    <td class="tenPhieuGiamGia">${result.tenPhieuGiamGia}</td>
                    <td class="ngayBatDau">${new Date(result.ngayBatDau).toLocaleDateString('vi-VN')}</td>
                    <td class="ngayKetThuc">${new Date(result.ngayKetThuc).toLocaleDateString('vi-VN')}</td>
                    <td>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="switch-${result.id}" ${result.trangThai ? 'checked' : ''} data-id="${result.id}" onchange="updateVoucherStatus(this)">
                            <label class="custom-control-label" for="switch-${result.id}"></label>
                        </div>
                    </td>
                    <td style="display: flex">
                        <!-- Edit -->
                        <button class="btn mb-2 mr-1 btn-warning" type="button" data-toggle="modal" data-target="#detailModal${result.id}" onclick="showDetailModal(${result.id})">
                            <span class="fe fe-edit-3"></span>
                        </button>
                        <!-- Delete -->
                        <form action="/remove-pgg/${result.id}" >
                            <button class="btn mb-2 ml-1 btn-danger" type="submit" onclick="return confirm('Bạn có chắc chắn xóa không?')">
                                <span class="fe fe-trash-2" ></span>
                            </button>
                        </form>
                    </td>

            `;
            tableBody.appendChild(row);
            serialNumber++;
        });
    }


        // Hàm searchTable() để gửi yêu cầu tìm kiếm và cập nhật bảng
        function searchTable() {
            const searchQuery = document.getElementById('search').value;
            console.log(searchQuery)
            fetch('/api-phieu-giam-gia/search?query=' + encodeURIComponent(searchQuery), {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    updateTableBody(data);
                })
                .catch(error => {
                    console.error('Error fetching search results:', error);
                });
        }

        // Bắt sự kiện submit của form tìm kiếm
        document.getElementById('search').addEventListener('input', function (event) {
            event.preventDefault();
            searchTable();
        });

        //filter
        document.addEventListener('DOMContentLoaded', function () {
            // Đoạn mã JavaScript của bạn ở đây
            // Ví dụ: Đăng ký sự kiện onchange cho dropdown
            const statusFilter = document.getElementById('statusFilter');
            if (statusFilter) {
                statusFilter.addEventListener('change', filterTable);
            }
        });


        function filterTable() {
            const statusFilter = document.getElementById('statusFilter').value;
            if (statusFilter) {
                const selectedValue = statusFilter.value;
                fetch('/api-phieu-giam-gia/filter?status=' + statusFilter, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        updateTableBody(data);
                        // if (data.length > 0) {
                        //     showDetailModal(data[0].id); // Gọi lại hàm showDetailModal với ID của bản ghi đầu tiên
                        // }
                    })
                    .catch(error => {
                        console.error('Error fetching filtered results:', error);
                        // Xử lý lỗi ở đây (ví dụ: hiển thị thông báo lỗi cho người dùng)
                    });
            } else {
                console.error('Element with id "statusFilter" not found.');
            }
        }

</script>

</html>
