<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragment/head :: head}"></head>
<head>
    <style>
        /* Styles for table and other elements */
        .loading-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.8);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }
        .loading-overlay .spinner-border {
            width: 3rem;
            height: 3rem;
            color: green; /* Màu xanh lá cây */
        }
        .loading-hidden {
            display: none;
        }
        .loading-text {
            margin-top: 10px;
            font-size: 1.5rem;
            color: green; /* Màu xanh lá cây */
        }
    </style>
</head>
<body class="vertical light">
<div class="wrapper">
    <div th:include="~{fragment/navbar :: navbar}"></div>
    <div th:include="~{fragment/sidebar :: sidebar}"></div>
    <main class="main-content" role="main">
        <div class="col-12">
            <h2 class="mb-2 page-title">Quản lý dịch vụ</h2>
            <p class="card-text"></p>
            <div class="row my-4">
                <div class="col-md-12">

                    <!--                    Loading-->
                    <div class="loading-overlay loading-hidden" id="loadingOverlay">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="loading-text">Loading...</div>
                    </div>

                    <!-- Search and Filter -->
                    <div class="card shadow">
                        <div class="card-body" id="tableCardBody">
                            <div class="toolbar row mb-3 mt-3">
                                <div class="col-md-12">
                                    <form class="form-inline" id="filterDateForm"
                                          style="display: flex; justify-content: space-between; align-items: center;">
                                        <div class="form-group d-flex" style="flex-grow: 1;">
                                            <!-- Search -->
                                            <div class="form-group" style="flex-grow: 1;">
                                                <label for="search">Tìm kiếm</label>
                                                <input class="form-control ml-3" id="search"
                                                       oninput="searchDV(this.value)" placeholder="Tìm kiếm theo tên"
                                                       style="width: 300px;" type="text">
                                            </div>

                                            <div class="dropdown ml-3 mr-2">
                                                <button aria-expanded="false"
                                                        aria-haspopup="true"
                                                        class="btn btn-outline-success dropdown-toggle"
                                                        data-toggle="dropdown" id="statusFilterButton"
                                                        type="button">Trạng thái
                                                </button>
                                                <div aria-labelledby="statusFilterButton" class="dropdown-menu"
                                                     id="statusFilter">
                                                    <a class="dropdown-item" href="#"
                                                       onclick="setStatusFilterDV('Còn')">Còn</a>
                                                    <a class="dropdown-item" href="#"
                                                       onclick="setStatusFilterDV('Hết')">Hết</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex gap-2">
                                            <div>
                                                <button aria-expanded="false"
                                                        aria-haspopup="true"
                                                        class="btn btn-outline-success dropdown-toggle"
                                                        data-toggle="dropdown" id="exportExcelButton"
                                                        title="Xuất Excel" type="button">
                                                    <span class="fe fe-file-text"></span>
                                                </button>
                                                <div aria-labelledby="exportExcelButton" class="dropdown-menu"
                                                     id="exportExcel">
                                                    <a class="dropdown-item" href="#"
                                                       onclick="exportToExcel('do_thue')">Đồ thuê</a>
                                                    <a class="dropdown-item" href="#"
                                                       onclick="exportToExcel('nuoc_uong')">Nước uống</a>
                                                </div>
                                            </div>
                                            <div>
                                                <button aria-expanded="false"
                                                        aria-haspopup="true"
                                                        class="btn btn-outline-success dropdown-toggle"
                                                        data-toggle="dropdown" id="templateExcelButton"
                                                        title="Download Template" type="button">
                                                    <span class="fe fe-download"></span>
                                                </button>
                                                <div aria-labelledby="templateExcelButton" class="dropdown-menu"
                                                     id="templateExcel">
                                                    <a class="dropdown-item" href="#"
                                                       onclick="downloadTemplate('do-thue')">Đồ thuê</a>
                                                    <a class="dropdown-item" href="#"
                                                       onclick="downloadTemplate('nuoc-uong')">Nước uống</a>
                                                </div>
                                            </div>
                                            <div>
                                                <button aria-expanded="false"
                                                        aria-haspopup="true"
                                                        class="btn btn-outline-success dropdown-toggle"
                                                        data-toggle="dropdown" id="importExcelButton"
                                                        title="Nhập Excel" type="button">
                                                    <span class="fe fe-folder-plus"></span>
                                                </button>
                                                <div aria-labelledby="importExcelButton" class="dropdown-menu"
                                                     id="importExcel">
                                                    <a class="dropdown-item" href="#"
                                                       onclick="openFileDialog('do-thue')">Đồ thuê</a>
                                                    <a class="dropdown-item" href="#"
                                                       onclick="openFileDialog('nuoc-uong')">Nước uống</a>
                                                </div>
                                            </div>

                                            <input id="fileInput" onchange="handleFileChange(event)"
                                                   style="display: none;"
                                                   type="file">

                                            <button class="btn btn-primary" onclick="resetFilters()"
                                                    title="Reset" type="button">
                                                <span class="fe fe-refresh-ccw"></span>
                                            </button>
                                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                <button class="btn btn-success"
                                                        data-service-type="do_thue"
                                                        onclick="showAddForm(this)"
                                                        title="Thêm" type="button">
                                                    <span class="fe fe-plus"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Table -->
                    <div class="card shadow mt-5">
                        <div class="card-body" id="tableCardBody1">
                            <!-- Tabs for service selection -->
                            <ul class="nav nav-tabs" id="serviceTabs" role="tablist">
                                <li class="nav-item">
                                    <a aria-controls="do-thue" aria-selected="true" class="nav-link active"
                                       data-toggle="tab"
                                       href="#do-thue" id="do-thue-tab" onclick="changeTab('do_thue')"
                                       role="tab">Quản lý đồ thuê</a>
                                </li>
                                <li class="nav-item">
                                    <a aria-controls="nuoc-uong" aria-selected="false" class="nav-link"
                                       data-toggle="tab"
                                       href="#nuoc-uong" id="nuoc-uong-tab" onclick="changeTab('nuoc_uong')"
                                       role="tab">Quản lý nước uống</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="serviceTabContent">
                                <div aria-labelledby="do-thue-tab" class="tab-pane fade show active" id="do-thue"
                                     role="tabpanel">
                                    <!-- Table for displaying data for do thue -->
                                    <table class="table datatables" id="dataTableDoThue"
                                           style="justify-content: center; text-align: center">
                                        <thead style="justify-content: center; text-align: center">
                                        <tr>
                                            <th>#</th>
                                            <th>Tên</th>
                                            <th>Ảnh</th>
                                            <th>Đơn giá</th>
                                            <th>Số lượng</th>
                                            <th>Trạng thái</th>
                                            <th>Hành động</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tableBodyDoThue">
                                        <!-- Data will be inserted here -->
                                        </tbody>
                                    </table>
                                    <!-- Pagination -->
                                    <nav aria-label="Table Paging" class="mb-0 text-muted">
                                        <ul class="pagination justify-content-end mb-0" id="paginationDoThue">
                                        </ul>
                                    </nav>
                                </div>
                                <div aria-labelledby="nuoc-uong-tab" class="tab-pane fade" id="nuoc-uong"
                                     role="tabpanel">
                                    <!-- Table for displaying data for nuoc uong -->
                                    <table class="table datatables" id="dataTableNuocUong"
                                           style="justify-content: center; text-align: center">
                                        <thead style="justify-content: center; text-align: center">
                                        <tr>
                                            <th>#</th>
                                            <th>Tên</th>
                                            <th>Ảnh</th>
                                            <th>Đơn giá</th>
                                            <th>Số lượng</th>
                                            <th>Trạng thái</th>
                                            <th>Hành động</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tableBodyNuocUong">
                                        <!-- Data will be inserted here -->
                                        </tbody>
                                    </table>
                                    <!-- Pagination -->
                                    <nav aria-label="Table Paging" class="mb-0 text-muted">
                                        <ul class="pagination justify-content-end mb-0" id="paginationNuocUong">
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <!-- End Modal Edit Item -->
    <div th:include="~{fragment/modal :: modal}"></div>
</div>
</body>
<script th:include="~{fragment/script :: script}"></script>
<script th:src="@{/js/dich-vu.js}"></script>
</html>
