<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/head :: head"></head>
<body class="vertical  light  ">
<div class="wrapper">
    <div th:include="fragment/navbar :: navbar"></div>
    <div th:include="fragment/sidebar :: sidebar"></div>
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="mb-2 page-title">Quản lý sân bóng</h2>
                    <p class="card-text"></p>
                    <div class="row my-4">
                        <!-- Small table -->
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="toolbar row mb-3">
                                        <div class="col">
                                            <form class="form-inline">
                                                <div class="form-row">
                                                    <div class="form-group col-auto mr-auto">
                                                        <label class="my-1 mr-2 sr-only"
                                                               for="inlineFormCustomSelectPref1">Show</label>
                                                        <select class="custom-select mr-sm-2"
                                                                id="inlineFormCustomSelectPref1">
                                                            <option value="">...</option>
                                                            <option value="1">12</option>
                                                            <option value="2" selected>32</option>
                                                            <option value="3">64</option>
                                                            <option value="3">128</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-auto">
                                                        <label for="search" class="sr-only">Search</label>
                                                        <input type="text" class="form-control" id="search" value=""
                                                               placeholder="Search">
                                                    </div>
                                                    <div class="form-group col-auto ml-3">
                                                        <label class="my-1 mr-2 sr-only"
                                                               for="inlineFormCustomSelectPref">Status</label>
                                                        <select class="custom-select my-1 mr-sm-2"
                                                                id="inlineFormCustomSelectPref">
                                                            <option selected>Trạng thái</option>
                                                            <option value="1">Hoạt động</option>
                                                            <option value="2">Kết thúc</option>
                                                            <option value="3">Hold</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
<!--                                        Form Add-->
                                        <div class="col ml-auto">
                                            <div class="dropdown float-right">
                                                <button type="button" class="btn btn-primary float-right ml-3"
                                                        data-toggle="modal" data-target="#varyModal"
                                                        data-whatever="@mdo">Thêm<span class="fe fe-plus "></span>
                                                </button>
                                                <div class="modal fade" id="varyModal" tabindex="-1" role="dialog"
                                                     aria-labelledby="varyModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="varyModalLabel">
                                                                    Thêm</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form th:action="@{/loaiSan/add}" th:object="${loaiSan}" th:method="post">
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6">
                                                                            <label> ID loại sân</label>
                                                                            <input type="text" class="form-control" th:field="*{id}" hidden>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6">
                                                                            <label for="inputEmail4">Tên loại sân</label>
                                                                            <input type="text" class="form-control" id="inputEmail4" th:field="*{tenLoaiSan}" placeholder="Tên loại sân">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6">
                                                                            <label for="inputState">Trang thai</label>
                                                                            <select th:field="*{trangThai}" id="inputState" class="form-control">
                                                                                <option th:each="b: ${listLS}" th:value="${b.tenLoaiSan}" th:text="${b.tenLoaiSan}"></option>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn mb-2 btn-secondary"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <button type="submit" class="btn mb-2 btn-primary">Add
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                                        id="actionMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false"> Hành động
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="actionMenuButton">
                                                    <a class="dropdown-item" href="#">Export</a> <a
                                                        class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Table -->
                                    <table class="table">
                                        <thead>
                                        <th>STT</th>
                                        <th>Ten loai san</th>
                                        <th>Trang Thai</th>
                                        <th>Hanh dong</th>
                                        </thead>
                                        <tbody>
                                        <tr th:each="a,b :${listLS}">
                                            <td th:text="${b.count}"></td>
                                            <td th:text="${a.tenLoaiSan}"></td>
                                            <td th:text="${a.trangThai}"></td>
                                            <td>
                                                <a th:href="@{/loaiSan/edit/{id}(id=${a.id})}"
                                                   type="button"
                                                   class="btn btn-primary"
                                                   data-toggle="modal"
                                                   data-target="#varyModal"
                                                   data-whatever="@mdo">
                                                    Edit
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div> <!-- simple table -->
                    </div> <!-- end section -->
                </div> <!-- .col-12 -->
            </div> <!-- .row -->


            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="mb-2 page-title">Quản lý sân bóng</h2>
                    <p class="card-text"></p>
                    <div class="row my-4">
                        <!-- Small table -->
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="toolbar row mb-3">
                                        <div class="col">
                                            <form class="form-inline">
                                                <div class="form-row">
                                                    <div class="form-group col-auto mr-auto">
                                                        <label class="my-1 mr-2 sr-only"
                                                               for="inlineFormCustomSelectPref1">Show</label>
                                                        <select class="custom-select mr-sm-2"
                                                                id="inlineFormCustomSelectPref12">
                                                            <option value="">...</option>
                                                            <option value="1">12</option>
                                                            <option value="2" selected>32</option>
                                                            <option value="3">64</option>
                                                            <option value="3">128</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-auto">
                                                        <label for="search" class="sr-only">Search</label>
                                                        <input type="text" class="form-control" id="search2" value=""
                                                               placeholder="Search">
                                                    </div>
                                                    <div class="form-group col-auto ml-3">
                                                        <label class="my-1 mr-2 sr-only"
                                                               for="inlineFormCustomSelectPref">Status</label>
                                                        <select class="custom-select my-1 mr-sm-2"
                                                                id="inlineFormCustomSelectPref13">
                                                            <option selected>Trạng thái</option>
                                                            <option value="1">Hoạt động</option>
                                                            <option value="2">Kết thúc</option>
                                                            <option value="3">Hold</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!--                                        Form Add-->
                                        <div class="col ml-auto">
                                            <div class="dropdown float-right">
                                                <button type="button" class="btn btn-primary float-right ml-3"
                                                        data-toggle="modal" data-target="#varyModal2"
                                                        data-whatever="@mdo">Thêm<span class="fe fe-plus "></span>
                                                </button>
                                                <div class="modal fade" id="varyModal2" tabindex="-1" role="dialog"
                                                     aria-labelledby="varyModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="varyModalLabel2">
                                                                    Thêm sân bóng</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form th:action="@{/sanBong/add}" th:object="${sanBong}" th:method="post">
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6">
                                                                            <label> ID loại sân</label>
                                                                            <input type="text" class="form-control" th:field="*{id}" hidden>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6">
                                                                            <label for="inputEmail4">Tên sân bóng</label>
                                                                            <input type="text" class="form-control" id="inputEmail5" th:field="*{tenSanBong}" placeholder="Tên sân bóng">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6">
                                                                            <label for="inputState2">Trang thai</label>
                                                                            <select th:field="*{trangThai}" id="inputState2" class="form-control">
                                                                                <option th:each="a: ${listSB}" th:value="${a.tenSanBong}" th:text="${a.tenSanBong}"></option>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6">
                                                                            <label for="inputState2">Loai san</label>
                                                                            <select th:field="*{idLoaiSan}" id="inputState2" class="form-control">
                                                                                <option th:each="b: ${listLS}" th:value="${b.id}" th:text="${b.tenLoaiSan}"></option>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn mb-2 btn-secondary"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <button type="submit" class="btn mb-2 btn-primary">Add
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                                        id="actionMenuButton2" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false"> Hành động
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="actionMenuButton">
                                                    <a class="dropdown-item" href="#">Export</a> <a
                                                        class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Table -->
                                    <table class="table">
                                        <thead>
                                        <th>STT</th>
                                        <th>Ten san</th>
                                        <th>Ten loai san</th>
                                        <th>Trang Thai</th>
                                        <th>Hanh dong</th>
                                        </thead>
                                        <tbody>
                                        <tr th:each="a,b :${listSB}">
                                            <td th:text="${b.count}"></td>
                                            <td th:text="${a.tenSanBong}"></td>
                                            <td th:text="${a.tenLoaiSan}"></td>
                                            <td th:text="${a.trangThai}"></td>
                                            <td>
                                                <a th:href="@{/sanBong/edit/{id}(id=${a.id})}"
                                                   type="button"
                                                   class="btn btn-primary"
                                                   data-toggle="modal"
                                                   data-target="#varyModal"
                                                   data-whatever="@mdo">
                                                    Edit
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div> <!-- simple table -->
                    </div> <!-- end section -->
                </div> <!-- .col-12 -->
            </div>


            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="mb-2 page-title">Quản lý ca</h2>
                    <p class="card-text"></p>
                    <div class="row my-4">
                        <!-- Small table -->
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="toolbar row mb-3">
                                        <div class="col">
                                            <form class="form-inline">
                                                <div class="form-row">
                                                    <div class="form-group col-auto mr-auto">
                                                        <label class="my-1 mr-2 sr-only" for="inlineFormCustomSelectPref1">Show</label>
                                                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref4">
                                                            <option value="">...</option>
                                                            <option value="1">12</option>
                                                            <option value="2" selected>32</option>
                                                            <option value="3">64</option>
                                                            <option value="3">128</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-auto">
                                                        <label for="search" class="sr-only">Search</label>
                                                        <input type="text" class="form-control" id="search3" value="" placeholder="Search">
                                                    </div>
                                                    <div class="form-group col-auto ml-3">
                                                        <label class="my-1 mr-2 sr-only" for="inlineFormCustomSelectPref">Status</label>
                                                        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref3">
                                                            <option selected>Trạng thái</option>
                                                            <option value="1">Hoạt động</option>
                                                            <option value="2">Kết thúc</option>
                                                            <option value="3">Hold</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- Form Add -->
                                        <div class="col ml-auto">
                                            <div class="dropdown float-right">
                                                <button type="button" class="btn btn-primary float-right ml-3" data-toggle="modal" data-target="#varyModal3" data-whatever="@mdo">Thêm<span class="fe fe-plus "></span></button>
                                                <div class="modal fade" id="varyModal3" tabindex="-1" role="dialog" aria-labelledby="varyModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="varyModalLabel3">Thêm ca</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form th:action="@{/ca/add}" th:object="${ca}" th:method="post">
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6">
                                                                            <input type="text" class="form-control" th:field="*{id}" hidden>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6">
                                                                            <label for="inputEmail3">Tên ca</label>
                                                                            <input type="text" class="form-control" id="inputEmail3" th:field="*{tenCa}" placeholder="Tên CA">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6">
                                                                            <label for="inputEmail3">Gia ca</label>
                                                                            <input type="text" class="form-control" id="inputEmail3" th:field="*{giaCa}" placeholder="Gia ca">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6">
                                                                            <label for="inputEmail3">thoiGianBatDau</label>
                                                                            <input type="datetime-local" class="form-control" id="inputEmail3" th:field="*{thoiGianBatDau}" placeholder="thoiGianBatDau">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6">
                                                                            <label for="inputEmail3">thoiGianKetThuc</label>
                                                                            <input type="datetime-local" class="form-control" id="inputEmail3" th:field="*{thoiGianKetThuc}" placeholder="thoiGianKetThuc">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6">
                                                                            <label for="inputState3">Trang thai</label>
                                                                            <select th:field="*{trangThai}" id="inputState3" class="form-control">
                                                                                <option th:each="a: ${listC}" th:value="${a.trangThai}" th:text="${a.trangThai}"></option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">Close</button>
                                                                        <button type="submit" class="btn mb-2 btn-primary">Add</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="actionMenuButto3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Hành động </button>
                                                <div class="dropdown-menu" aria-labelledby="actionMenuButton">
                                                    <a class="dropdown-item" href="#">Export</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Ten ca</th>
                                            <th>Gia ca</th>
                                            <th>Bat Dau</th>
                                            <th>Ket Thuc</th>
                                            <th>Trang thái</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="a,b :${listC}">
                                            <td th:text="${b.count}"></td>
                                            <td th:text="${a.tenCa}"></td>
                                            <td th:text="${a.giaCa}"></td>
                                            <td th:text="${a.thoiGianBatDau}"></td>
                                            <td th:text="${a.thoiGianKetThuc}"></td>
                                            <td th:text="${a.trangThai}"></td>
                                            <td>
                                                <a th:href="@{/ca/edit/{id}(id=${a.id})}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#varyModal" data-whatever="@mdo">Edit</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> <!-- simple table -->
                    </div> <!-- end section -->
                </div> <!-- .col-12 -->
            </div> <!-- .row justify-content-center -->


            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="mb-2 page-title">Quản lý ngay trong tuan</h2>
                    <p class="card-text"></p>
                    <div class="row my-4">
                        <!-- Small table -->
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="toolbar row mb-3">
                                        <div class="col">
                                            <form class="form-inline">
                                                <div class="form-row">
                                                    <div class="form-group col-auto mr-auto">
                                                        <label class="my-1 mr-2 sr-only" for="inlineFormCustomSelectPref1">Show</label>
                                                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref5">
                                                            <option value="">...</option>
                                                            <option value="1">12</option>
                                                            <option value="2" selected>32</option>
                                                            <option value="3">64</option>
                                                            <option value="3">128</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-auto">
                                                        <label for="search" class="sr-only">Search</label>
                                                        <input type="text" class="form-control" id="search5" value="" placeholder="Search">
                                                    </div>
                                                    <div class="form-group col-auto ml-3">
                                                        <label class="my-1 mr-2 sr-only" for="inlineFormCustomSelectPref">Status</label>
                                                        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref5s">
                                                            <option selected>Trạng thái</option>
                                                            <option value="1">Hoạt động</option>
                                                            <option value="2">Kết thúc</option>
                                                            <option value="3">Hold</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- Form Add -->
                                        <div class="col ml-auto">
                                            <div class="dropdown float-right">
                                                <button type="button" class="btn btn-primary float-right ml-3" data-toggle="modal" data-target="#varyModal4" data-whatever="@mdo">Thêm<span class="fe fe-plus "></span></button>
                                                <div class="modal fade" id="varyModal4" tabindex="-1" role="dialog" aria-labelledby="varyModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="varyModalLabel4">Thêm thứ trong tuần</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form th:action="@{/ngayTrongTuan/add}" th:object="${ngayTrongTuan}" th:method="post">
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6">
                                                                            <input type="text" class="form-control" th:field="*{id}" hidden>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6">
                                                                            <label for="inputEmail3">Ngày trong tuần</label>
                                                                            <input type="checkbox" th:each="a: ${listNTT}" th:value="${a.thuTrongTuan}" th:text="${a.thuTrongTuan}" class="form-control" id="inputEmail5s" th:field="*{thuTrongTuan}" placeholder="thuTrongTuan">
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6">
                                                                            <label for="inputState3">Trang thai</label>
                                                                            <select th:field="*{trangThai}" id="inputState3" class="form-control">
                                                                                <option th:each="a: ${listNTT}" th:value="${a.trangThai}" th:text="${a.trangThai}"></option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">Close</button>
                                                                        <button type="submit" class="btn mb-2 btn-primary">Add</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="actionMenuButto4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Hành động </button>
                                                <div class="dropdown-menu" aria-labelledby="actionMenuButton">
                                                    <a class="dropdown-item" href="#">Export</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Thứ trong tuần</th>
                                            <th>Trang thái</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="a,b :${listNTT}">
                                            <td th:text="${b.count}"></td>
                                            <td th:text="${a.thuTrongTuan}"></td>
                                            <td th:text="${a.trangThai}"></td>
                                            <td>
                                                <a th:href="@{/ngayTrongTuan/edit/{id}(id=${a.id})}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#varyModal" data-whatever="@mdo">Edit</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> <!-- simple table -->
                    </div> <!-- end section -->
                </div> <!-- .col-12 -->
            </div> <!-- .row justify-content-center -->




        </div> <!-- .container-fluid -->
        <div th:include="fragment/modal :: modal"></div>
    </main>
</div>
</body>
<div th:include="fragment/script :: script"></div>
</html>