<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/head :: head"></head>
<body class="vertical light">
<div class="wrapper">
    <div th:include="fragment/navbar :: navbar"></div>
    <div th:include="fragment/sidebar :: sidebar"></div>
    <main role="main" class="main-content">
        <div class="container-fluid">



        </div>
        <div th:include="fragment/modal :: modal"></div>
    </main>
</div>



</body>
<div th:include="fragment/script :: script"></div>
</html>
