# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\FPT Polytechnic\DATN\goc3\Website_dat_lich_san_bong_FiveStu\DATN_FiveStus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
