# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Website_dat_lich_san_bong_FiveStu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
